* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --color-background: #0E1014 ;
    --color-font: #F5F5F5;
    --color-roxo-hover: #8233E8;
    --color-roxo-destaque: #9747FF;
}

body {
    background-color: var(--color-background);
    font-family: "poppins", sans-serif;
    font-size: 24px;
    text-align: center;
    overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
    display: flex;
    justify-content: flex-start; /* esquerda */
    align-items: center;
}

header img {
    display: block;
    margin: 75px 0 0 36px;
}

h1 {
    font-family:"unbounded", "sans-serif";
    font-weight: bold;
    font-size: 64px;
    color: var(--color-font);
    margin-top: 60px;
    margin-bottom: 40px;
}

span {
    color: var(--color-roxo-destaque);
}


p {
    color: var(--color-font);
    font-family: "unbounded";
    max-width: 792px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0 16px;
}

a {
    background-color: var(--color-roxo-destaque);
    font-family: "poppins", "sans-serif";
    font-size: 24px;
    color: var(--color-font);
    text-decoration: none;
    display: block;
    line-height: 66px;
    text-align: center;
    width: 340px;
    height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover {
    background-color: var(--color-roxo-hover);
}

section img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}




@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  header {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  header img {
    max-width: 200px;
    width: 100%;
    height: auto;
    /* margin: 0 auto; */
  }


  h1 {
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
  }


  p {
    font-size: 1rem;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    width: 100%;
    max-width: 230px;
    font-size: 20px;
    margin: 16px auto;
    display: block;
  }

}